#index{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    gap: 20px;
}

#list-usins{
    margin-top: 80px;
    width: 100% 
}

#modal {
    display: none;
}

@media screen and (max-width: 700px){
    #index{
        width: 100%;    
    }
    #list-usins{
        margin-top: 30%;
        width: 100% 
    }
    
}