#mobileNavigation{
    display: none;
}

#mobile{
    display: none;
}


@media screen and (max-width: 700px){
    #mobile{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #mobileNavigation{
        flex-direction: row;
    }
}

@media screen and (max-width: 390px) {
    
    #mobileNavigation{
        flex-direction: column;
        gap: 8px
    }
}